#include <st/h7/stm32h743zitx-pinctrl.dtsi>

/ {
    soc {
    ltdc: display-controller@50001000 {
        status = "okay";
        pinctrl-0 = <&ltdc_vsync_pa4
        &ltdc_hsync_pc6
        &ltdc_clk_pe14
        &ltdc_de_pf10
        &ltdc_r3_pb0
        &ltdc_r4_pa5
        &ltdc_r5_pc0
        &ltdc_r6_pb1
        &ltdc_r7_pe15
        &ltdc_g2_pa6
        &ltdc_g3_pe11
        &ltdc_g4_pb10
        &ltdc_g5_pb11
        &ltdc_g6_pc7
        &ltdc_g7_pg8
        &ltdc_b3_pd10
        &ltdc_b4_pe12
        &ltdc_b5_pa3
        &ltdc_b6_pb8
        &ltdc_b7_pb9>;
        // from ADV7123(GM7123)'s spec
        hsync-pol = <STM32_LTDC_HSPOL_ACTIVE_LOW>;
        vsync-pol = <STM32_LTDC_VSPOL_ACTIVE_LOW>;
        de-pol = <STM32_LTDC_DEPOL_ACTIVE_LOW>;
        pclk-pol = <STM32_LTDC_PCPOL_ACTIVE_HIGH>;
        // from standard VGA timing of 640x480,60Hz
        hsync-duration = <96>;
        vsync-duration = <2>;
        hbp-duration = <48>;
        vbp-duration = <31>;
        hfp-duration = <16>;
        vfp-duration = <11>;
        height = <480>;
        width = <640>;
    };
    };
    leds {
        compatible = "gpio-leds";
        run_led: led_pd1 {
            gpios = <&gpiod 1 GPIO_ACTIVE_HIGH>;
            label = "Run LED";
        };
        err_led: led_pd0 {
            gpios = <&gpiod 0 GPIO_ACTIVE_HIGH>;
            label = "Error LED";
        };
        act_led: led_pd2 {
            gpios = <&gpiod 2 GPIO_ACTIVE_HIGH>;
            label = "Action LED";
        };
    };
};

&mac {
    pinctrl-0 = <&eth_mdc_pc1
             &eth_rxd0_pc4
             &eth_rxd1_pc5
             &eth_ref_clk_pa1
             &eth_mdio_pa2
             &eth_crs_dv_pa7
             &eth_tx_en_pg11
             &eth_txd0_pb12
             &eth_txd1_pb13>;
};